/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html {
  height: 100vh;
  background-image: url(out-bw-fade.png);
  background-repeat: no-repeat;
  /* background-size: 70%; */
  background-position: left bottom;
  background-color: rgba(0, 0, 0, 0.06);
}
.image {
  margin: 0 auto;
  width: 540px;
}
.foot {
  left: 0;
  bottom: 0;
  text-align: center;
  position: fixed;
}
