/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
    height: 100vh;
    background-image: url(../images/out-bw-fade.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: left bottom;
    background-color: rgba(0, 0, 0, 0.06);
    background-attachment: fixed;
}

.image.logo {
    margin: 0 auto;
    width: 30rem;
}

.foot {
    left: 0;
    bottom: 0;
    text-align: center;
    position: fixed;
}

.or {
    padding: 15px;
}

.tile.is-ancestor:nth-child(2n + 1)>.tile>.tile.invalid:nth-child(2n),
.tile.is-ancestor:nth-child(2n)>.tile>.tile.invalid:nth-child(2n + 1) {
    background-color: rgba(141, 168, 155, 0.7);
}

.column.board {
    border: 2px inset rgb(43, 42, 42);
}

.game-card {
    transition: transform 0s;
    min-width: 7rem;
    width: 75%;
    border-radius: 6px;
}

.game-card.selected {
    box-shadow: 10px 5px 5px rgba(155, 141, 168, 1);
}

.card-image {
    border-radius: 7px;
}

.flip-vertical {
    transform: rotate(0.5turn);
}

.unflip-vertical {
    transform: rotate(0.5turn);
}

.tile.valid {
    background-color: rgba(155, 141, 168, 0.8);
}


/* set game piece size */

figure.image.board-square.is-square {
    width: 65%;
}


/* center game piece in board square */

.is-horizontal-center {
    justify-content: center;
}


/* Coerce a card into it's final position */

.player-force-move-x {
    transition: transform 1s;
    transform: translate(0) !important;
}

.player-force-move-r {
    transition: transform 0.5s;
    transition-delay: 1s;
    transform: rotate(0.5turn) !important;
}


/* need a sepete rotation class for the opponents new 'next card' because it is alreadt flipped when it starts */

.top-player-force-anim {
    transition: transform 0.5s;
    transition-delay: 1s;
    transform: rotate(0turn) !important;
}

.player-force-move-y {
    transition: transform 1.5s;
    transition-delay: 1.5s;
    transform: translateY(0) !important;
}

.next-force-move-x {
    transition: transform 1s;
    transition-delay: 1.5s;
    transform: translate(0) !important;
}

.next-force-move-y {
    transition: transform 1.5s;
    transform: translateY(0) !important;
}


/* editing for 404 page */

.error-title {
    font-size: 60px;
    text-align: center;
}

#samurai {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#go-home-btn {
    margin-top: 5em;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.0);
}

.welcome {
    padding: 2%;
}

li {
    font-size: large;
    font-weight: 700;
    padding: 1%
}

.blue {
    color: blue
}

.red {
    color: red;
}